.navigation-container {
  display: flex;
  flex-direction: column;
  gap: var(--layout-spacing-medium);
  margin: 0 auto;
}

@media screen and (min-width: 63.9375em) {
  .page-header {
    align-items: center;
    display: flex;
    position: relative;
    z-index: var(--layout-bring-to-front);
  }

  .page-header .logo {
    flex: 1 1 30%;
  }

  .page-header .navigation-container {
    align-items: flex-end;
    flex: 1 1 70%;
    justify-content: flex-end;
  }
}
