.the-art-title {
  color: var(--color-yellow-50);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-neutral-inverted);
}

.the-art-gallery-item {
  border: 10px solid var(--color-yellow-50);
  border-radius: var(--border-radius-circular);
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 300px;
}
