.founders-title {
  background-color: var(--color-yellow-50);
  color: var(--color-blue-90);
  margin-bottom: var(--layout-spacing-narrow);
  padding: var(--layout-spacing-narrow);
}

.founders-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--layout-spacing-large);
  justify-content: center;
  margin: var(--layout-spacing-large) 0;
}

@media screen and (min-width: 47.9375em) {
  .founders-list {
    flex-direction: row;
    justify-content: space-around;
    margin: var(--layout-spacing-large) auto;
    max-width: 80vw;
  }
}

@media screen and (min-width: 89.9375em) {
  .founders-list {
    justify-content: space-between;
    max-width: initial;
  }
}

.founder-profile-header {
  text-align: center;
}

.founder-profile-img-container {
  background-color: var(--color-yellow-50);
  border-radius: var(--border-radius-circular);
  height: 280px;
  margin: 0 auto;
  width: 280px;
}

.founder-profile-img {
  border-radius: var(--border-radius-circular);
  height: 250px;
  margin-left: 2em;
  width: 250px;
}

.member-name,
.member-title {
  margin: 0;
}

.member-name {
  margin: 0;
}
