@import "../../atoms/icons/index.css";

.social-nav {
  margin: 0 auto;
  max-width: 25em;
  min-width: 15em;
  order: -1;
}

@media screen and (min-width: 63.9375em) {
  .social-nav {
    margin: initial;
  }
}

.social-nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
