.page-wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: var(--layout-spacing-default);
}

@media screen and (min-width: 47.9375em) {
  .page-wrapper {
    max-width: var(--layout-max-page-width);
    padding: var(--layout-spacing-medium);
  }
}

.hero-video {
  display: none;
}

@media screen and (min-width: 63.9375em) {
  .hero-video {
    background-image: linear-gradient(
      to bottom,
      rgba(14, 0, 53, 0.5),
      rgba(45, 38, 65, 1)
    );
    background-size: 100%;
    display: block;
    filter: opacity(30%) blur(16px) drop-shadow(16px 16px 10px #2d2641);
    height: 100vh;
    left: -1rem;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100vw;
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero-video {
    display: none;
  }
}
